{{define "base"}}
{{template "platform_header" .}}
        <main class="flex-grow-1 d-flex mx-2 align-items-center justify-content-center">
            <div class="container">
                <div class="main bg-white rounded p-4 shadow">
                    <div class="d-flex align-items-center mb-2">
                        <input type="text" class="form-control me-2" placeholder="Поиск кандидата" aria-label="Search">
                        <div class="ms-auto mb-auto">
                            <button type="button" class="btn rounded selected btn-lg ms-3 fw-regular text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Добавить
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        {{if gt (len .finders) 0}}
                            {{ range .finders }}
                            <div class="col-xl-4">                            
                                <div class="card border rounded mt-1 p-3 px-3">
                                    <h6 class="fw-bold">{{.vacancy.Name}}</h6>
                                    <p class="mb-1">{{.resume.LastName}} {{.resume.FirstName}} {{.resume.Surname}}<br>Совпадение <span class="text-green">{{.resume.Percent}}%</span></p>
                                    <div class="col-5 mb-2">
                                        <a type="button" class="fw-regular" data-bs-toggle="modal" data-bs-target="#finder_info" onclick="finder_info({{.resume.FinderId}}, {{.vacancy.Id}}, {{.resume.FirstName}}, {{.resume.LastName}}, {{.resume.Surname}}, {{.vacancy.Name}})">
                                            Информация
                                        </a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        
                                        <div class="col-auto">
                                            <a href="" class="btn btn-success rounded btn-md fw-regular text-white" style="width: auto;">Принять</a>
                                        </div>
                                        <div class="col-auto">
                                            <a href="" class="btn btn-danger rounded btn-md fw-regular text-white" style="width: auto;">Отказать</a>
                                        </div>
                                        
                                    </div>                                    
                                </div>
                            </div>
                            {{ end }}       
                        {{else}}
                            <p class="mt-5 text-center">Кандидаты не найдены.</p>
                        {{end}}                             
                    </div>
                </div>
            </div>
        </main>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Добавление соискателя</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/api/hr/add_finder" method="post" enctype="multipart/form-data">
                <label for="first_name" class="fw-medium">Имя</label>
                <input type="text" id="first_name" name="first_name" class="form-control mb-3" placeholder="Имя" required>

                <label for="last_name" class="fw-medium">Фамилия</label>
                <input type="text" id="last_name" name="last_name" class="form-control mb-3" placeholder="Фамилия" required>

                <label for="surname" class="fw-medium">Отчество</label>
                <input type="text" id="surname" name="surname" class="form-control mb-3" placeholder="Отчество" required>

                <label for="prone_number" class="fw-medium">Номер телефона</label>
                <input type="tel" id="prone_number" name="prone_number" class="form-control mb-3" placeholder="+7" required>

                <label for="email" class="fw-medium">Электронная почта</label>
                <input type="email" id="email" name="email" class="form-control mb-3" placeholder="Электронная почта" required>

                  <!-- ванаси оставляем -->
                <label for="vanacy" class="fw-medium">Вакансия</label>
                <select class="form-select" id="vanacy" name="vacancy" aria-label="Вакансия">
                    {{range .vacancies}}
                    <option value="{{.Id}}">{{.Id}}. {{.Name}}</option>
                    {{end}}
                </select>
                
                <label for="resume_file" class="fw-medium">Файл резюме</label>
                <input type="file" id="resume_file" name="resume_file" class="form-control mb-3" placeholder="Файл резюме" required>

                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </form>
            </div>
            
          </div>
        </div>
      </div>

      <div class="modal fade" id="finder_info" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Информация о соискателе</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
             <h6>ФИО:</h6>
             <p class="ps-3" id="finder_name"></p>

             <h6>Вакансия:</h6>
             <p class="ps-3" id="finder_vacancy"></p>

             <h6>Совпадающие навыки:</h6>
             <p class="ps-3" id="coincidence_skills"></p>

             <h6>Несоответствующие навыки:</h6>
             <p class="ps-3" id="mismatch_skills"></p>

             <h6>Текст резюме:</h6>
             <p class="ps-3" id="resume_text"></p>
            </div>
            
          </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <script>
        async function finder_info(finder_id, vacancy_id, first_name, last_name, surname, vacancy_name) {
            try{
                const response = await fetch(`/api/hr/finder/${finder_id}/${vacancy_id}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
                });

                if (!response.ok) {
                    throw new Error(`Ошибка: ${response.status} ${response.statusText}`);
                }

                const data = await response.json();

                document.getElementById('finder_name').innerText = first_name + " " + last_name + " " + surname;
                document.getElementById('finder_vacancy').innerText = vacancy_name;
                document.getElementById('coincidence_skills').innerText = !data ? data.coincidence.join(", ") : "Нет данных"; 
                document.getElementById('mismatch_skills').innerText = !data ? data.mismatch.join(", ") : "Нет данных";
                document.getElementById('resume_text').innerText = data.resume_text;       
            } catch (error) {
                console.error('Ошибка при получении данных вакансии:', error);
                alert('Не удалось загрузить данные вакансии.');
            }
        }
    </script>
</body>
</html>
{{end}}