{{define "base"}}
{{template "header" .}}

    <div class="container bg-white shadow-sm p-3 mb-5 bg-body rounded colored-border" style="max-width: 700px">
        <h4 class="h-font fw-bold text-center py-3">Вход</h4>

        <div class="toggle-switch mx-auto" id="mySwitch">
            <div class="switch-thumb"></div>
            <div class="switch-labels">
              <div class="label on">Рекрутер</div>
              <div class="label off">Соискатель</div>
            </div>
        </div>

        <form action="" style="width: 60%;" class="mx-auto mt-5">
            <label for="" class="fw-medium">Электронная почта</label>
            <input type="email" id="email" name="email" class="form-control mb-3" placeholder="Электронная почта" required>

            <label for="" class="fw-medium">Пароль</label>
            <input type="password" id="password" name="password" class="form-control mb-3" placeholder="Пароль" required>
            
            <div class="d-flex justify-content-center mt-5 mb-2">
                <a class="button rounded selected btn-lg ms-3 h-font fw-bold text-white" id="registerButton" onclick="login()">Войти</a>
            </div> 
            <div class="d-flex justify-content-center mb-3">
                <p>Еще нет аккаунта? <a href="/register">Зарегистрироваться</a></p> 
            </div> 
        </form>

    </div>


    <footer>
        <div class="container">
            <div class="row d-flex justify-content-center g-5">
                <div class="col-sm-3">
                    <h6 class="text-center footer-h">Рекрутерам</h6>
                    <ul>
                        <li><a href="">Вход</a></li>
                        <li><a href="">Возможности</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h6 class="text-center footer-h">Соискателям</h6>
                    <ul>
                        <li><a href="">Вход</a></li>
                        <li><a href="">Возможности</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h6 class="text-center footer-h">О нас</h6>
                    <ul>
                        <li><a href="">tg</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </footer>
    <script>
        const switchEl = document.getElementById('mySwitch');
        const usernameLabel = document.getElementById('username_label');
        let regType = "hr";
    
        switchEl.addEventListener('click', () => {
            switchEl.classList.toggle('active');
            function register(role){
                console.log(`Регистрация для роли: ${role}`);
            }
            const root = document.documentElement;
            if (switchEl.classList.contains('active')) {
                root.style.setProperty('--primary-color', '#19C580');
                regType = "users"

            } else {
                root.style.setProperty('--primary-color', '#377EF0');
                regType = "hr"
            }
        });

        async function login() {
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        const formData = {
            email: email,
            password: password,
            role: regType
        };

        console.log(formData)

        try {
            const response = await fetch('/api/auth', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(formData)
                });

            if (response.ok) {
                const result = await response.json();
                console.log('Успешный вход:', result);
                alert('Вход прошел успешно!');
                window.location.href = "/hracc";
            } else {
                const error = await response.json();
                console.error('Ошибка входа:', error);
                alert('Ошибка входа: ' + error.message);
            }
        } catch (err) {
            console.error('Ошибка сети:', err);
            alert('Ошибка сети. Попробуйте позже.');
        }
    }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>
{{end}}