{{define "base"}}
{{template "header" .}}
    <div class="container bg-white shadow-sm p-3 mb-5 bg-body rounded colored-border" style="max-width: 700px">
        <h4 class="h-font fw-bold text-center py-3">Регистрация</h4>

        <div class="toggle-switch mx-auto" id="mySwitch">
            <div class="switch-thumb"></div>
            <div class="switch-labels">
              <div class="label on">Рекрутер</div>
              <div class="label off">Соискатель</div>
            </div>
        </div>

        <form action="" style="width: 60%;" method="POST" class="mx-auto mt-5">
            <label for="username" class="fw-medium" id="username_label">Имя пользователя</label>
            <input type="text" id="username" name="username" class="form-control mb-3" placeholder="Имя пользователя" required>

            <label for="" class="fw-medium">Электронная почта</label>
            <input type="email" id="email" name="email" class="form-control mb-3" placeholder="Электронная почта" required>

            <label for="" class="fw-medium">Пароль</label>
            <input type="password" id="password" name="password" class="form-control mb-3" placeholder="Пароль" required>
            
            <div class="d-flex justify-content-center mt-5 mb-2">
                <a class="button rounded selected btn-lg ms-3 h-font fw-bold text-white" id="registerButton" onclick="register()">Регистрация</a>
            </div> 
            <div class="d-flex justify-content-center mb-3">
                <p>Уже есть аккаунт? <a href="/login">Войти</a></p> 
            </div> 
        </form>

    </div>


    <footer>
        <div class="container">
            <div class="row d-flex justify-content-center g-5">
                <div class="col-sm-3">
                    <h6 class="text-center footer-h">Рекрутерам</h6>
                    <ul>
                        <li><a href="">Вход</a></li>
                        <li><a href="">Возможности</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h6 class="text-center footer-h">Соискателям</h6>
                    <ul>
                        <li><a href="">Вход</a></li>
                        <li><a href="">Возможности</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h6 class="text-center footer-h">О нас</h6>
                    <ul>
                        <li><a href="">tg</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </footer>
    <script>
        const switchEl = document.getElementById('mySwitch');
        const usernameField = document.getElementById('username');
        const usernameLabel = document.getElementById('username_label');
        let regType = "hr";
    
        switchEl.addEventListener('click', () => {
            switchEl.classList.toggle('active');
            function register(role){
                console.log(`Регистрация для роли: ${role}`);
            }
            const root = document.documentElement;
            if (switchEl.classList.contains('active')) {
                root.style.setProperty('--primary-color', '#19C580');
                usernameField.style.display = 'none';
                usernameLabel.style.display = 'none';
                regType = "users"

            } else {
                root.style.setProperty('--primary-color', '#377EF0');
                usernameField.style.display = 'block';
                usernameLabel.style.display = 'block';
                regType = "hr"
            }
        });

        async function register() {
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
    
            if (!email || !password) {
                alert("Заполните email и пароль!");
                return;
            }

            const formData = {
                username: regType === "hr" ? document.getElementById('username').value : null,
                email: email,
                password: password,
                role: regType
            };

            try {
                const response = await fetch('/api/register', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(formData)
                });

                if (response.ok) {
                    if (regType === 'hr') {
                        const result = await response.json();
                        console.log('Успешный вход:', result);
                        alert('Вход прошел успешно!');
                        window.location.href = "/hr/acc";
                    } else if (regType === 'users') {
                        const result = await response.json();
                        console.log('Успешный вход:', result);
                        alert('Вход прошел успешно!');
                        window.location.href = "/user/acc";
                    }
                } else {
                    const error = await response.json();
                    alert("Ошибка: " + (error.message || "Неизвестная ошибка"));
                }
            } catch (err) {
                console.error("Ошибка сети:", err);
                alert("Сервер не отвечает");
            }
    }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>
{{end}}