{{define "base"}}
{{template "platform_header" .}}
        <main class="flex-grow-1 d-flex mx-2 align-items-center justify-content-center">
            <div class="container">
                <div class="main bg-white rounded p-4 shadow">
                    <div class="d-flex align-items-center mb-2">
                        <input type="text" class="form-control me-2" placeholder="Поиск вакансии" aria-label="Search">
                        <div class="ms-auto mb-auto">
                            <button type="button" class="btn rounded selected btn-lg ms-3 fw-regular text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Добавить
                            </button>
                            
                        </div>
                    </div>

                    <div class="row">
                        {{if gt (len .vacancies) 0}}
                            {{ range .vacancies }}
                            <div class="col-xl-4">
                                <div class="card border rounded mt-1 p-3 px-3">
                                    
                                    <h6 class="fw-bold">{{.Name}}</h6>
                                    <p>Навыки <br>{{join .HardSkills}}</p>
                                    

                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="col-auto">
                                            <a href="" class="btn btn-primary rounded btn-md fw-regular text-white" style="width: auto;">К кандидатам</a>
                                        </div>
                                        <div class="col-auto">
                                            <a href="" class="btn btn-primary rounded btn-md fw-regular text-white" style="width: auto;">К вакансии</a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>   
                            {{ end }}       
                        {{else}}
                            <p class="mt-5 text-center">Вакансии не найдены.</p>
                        {{end}}              
                    </div>
                </div>
            </div>
        </main>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Добавление вакансии</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
             <form id="addVacancyForm" enctype="multipart/form-data">
                <label for="vacancy_name" class="fw-medium">Название вакансии</label>
                <input type="text" id="vacancy_name" name="vacancy_name" class="form-control mb-3" placeholder="Название вакансии" required>

                <label for="vacancy_file" class="fw-medium">TXT файл вакансии</label>
                <input type="file" id="vacancy_file" name="vacancy_file" class="form-control mb-3" placeholder="txt файл вакансии" required>

                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </form>
            <script>
                document.getElementById('addVacancyForm').addEventListener('submit', async function (event) {
                    event.preventDefault();
                    const formData = new FormData(this);

                    try {
                        const response = await fetch('/api/hr/add_vacancy', {
                            method: 'POST',
                            body: formData
                        });

                        if (response.ok) {
                            location.reload();
                        } else {
                            const errorText = await response.text();
                            alert(`Ошибка: ${errorText}`);
                        }
                    } catch (error) {
                        alert(`Ошибка: ${error.message}`);
                    }
                });
            </script>
            </div>
            
          </div>
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>
{{end}}